.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    padding: 1rem;
    border-radius: .25rem;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    background-color: var(--primary);
}

.modal__action > button, .modal__action > a{
    margin: 4%;
    padding: 4%;
    border-radius: .25rem;
    min-height: 60px;
    text-decoration: none;
    text-align: center;
    line-height:normal;
}

.modal__action > a{
    font-size: 1.1rem;
}

.modal__action > button:hover, .modal__action > a:hover{
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    padding: 2%;
    background-color: var(--secondary);
    width: auto;
    border-radius: .25rem;
    border: none;
}

.modal-close:hover{
    cursor: pointer;
}

h3{
    margin-top: 15%;
    color: var(--secondary);
}

.modal__action{
    display: flex;
    justify-content: center;
    align-items: center;
}